body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  padding: 10px 0;
  background-color: #eaeaea;
}

header h2 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-content {
  padding: 40px 15px;
}

.main-content h1,
.post-title {
  text-transform: capitalize;
}

.search-wrap input {
  padding: 10px 15px;
  min-width: 400px;
}
