body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  padding: 10px 0;
  background-color: #eaeaea;
}

header h2 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-content {
  padding: 40px 15px;
}

.main-content h1,
.post-title {
  text-transform: capitalize;
}

.search-wrap input {
  padding: 10px 15px;
  min-width: 400px;
}

.post-meta {
  font-size: 12px;
}

.post-meta span {
  margin-left: 5px;
}

article h5 {
  margin-bottom: 10px;
}

hr {
  border: none;
  border-bottom: 1px solid #eaeaea;
}
.search-wrap {
  display: flex;
  align-items: center;
}

.sort-btns {
  margin-left: 15px;
}

.sort-btns button {
  padding: 9px;
}
